@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Merriweather", serif;
     font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fffafc;
    color: #111;
}

.header {
    background: #ffffff;
    border-bottom: 2px solid #f3d9e5;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:yellow;
    position: fixed;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
    padding: 8px 15px;
    border-radius: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #111;
    font-size: 0.9rem;
    padding: 10px 18px;
    box-shadow: 0 6px 15px;
    background-color:rgb(222, 221, 221);
    border-radius: 5px;

}

.nav-links a:hover {
    color: #ac3c92;
}

.home {
    text-align: center;
    padding: 4rem 2rem;
}

.profile-img {
    width: 15em;
    height: 20em;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 5px solid white;
    box-shadow: 3px  4px 8px 4px rgb(112, 111, 111);
}

.home h1 {
    font-size: 2.3rem;
    color: #000;
    margin-bottom: 25px;
}

.home p {
    color:#111;
    margin-top: 8px;
}

.about,
.skills,
.contact {
    max-width: 900px;
    margin: 3.5rem auto;
    padding: 3rem;
    border-radius: 25px;
    box-shadow: 3px  4px 8px 4px rgb(112, 111, 111);
    text-align: center;
}

.about {
    background-color: #f4d3dc;
}

.skills {
    background-color: #d2e4f0;
}

.contact {
    background-color: #d7e4cf;
    margin-bottom: 20px;
}

.about h2,
.skills h2,
.contact h2 {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    color: black;
}

.about p,
.contact p {
    font-size: 1.05rem;
    line-height: 1.8;
}

.skill-box {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-box span {
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 999px;
    font-size: 0.9rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.08);
}

.footer {
    text-align: center;
    padding: 1.5rem;
    font-size: 0.85rem;
    color: #111;
    background-color: yellow;
     bottom: 0;
    left: 0;
    width: 100%;
margin-top: 10px;
}









